$app-name: "lb";

$color-black: #000000;
$color-white: #ffffff;

$color-primary: #f7eff8;
$color-available: #a0a8f3;
$color-buttons: #7879f1;
$color-borders: #ccb2e7;
$color-taken: #797b8a;
$color-error: red;

$input-padding: 0px 0px 0px 10px;
$input-border-radius: 3px;
